

:root {
    --main-font-family: "Tajawal", sans-serif;
    --main-color: #0aae7e;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

a {
    color: #09b080 !important;
    font-family: var(--main-font-family) !important;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8)), url("/assets/memberlogin/rm422-047.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.shadow-login {
    box-shadow: 20px 20px 15px rgba(10, 10, 10, 0.2) !important;
}

.text-font-family {
    font-family: var(--main-font-family) !important;
    font-weight: 700 !important;
}

.text-green {
    color: var(--main-color);
}

main {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
}

.font-family {
    font-family: var(--main-font-family);
}

.form-floating > label {
    left: auto !important;
    right: 0 !important;
}

.form-control:focus + label {
    padding-right: 0 !important;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem #0aae7d38;
}

.text-gray {
    color: #504e4e;
}

.logo-img {
    width: 100px;
    border-radius: 50%;
}

.mobile-form {
    padding-left: 30px;
    padding-right: 30px;
}

.login-container {
    width: 100%;
    padding: 5px;
}

main {
    width: 100%;
    padding: 5px;
}

.form-outline {
    width: 100%;
}

.img-container {
    display: none;
}

.form {
    width: 100%;
    margin: 0 auto;
    padding: 25px 25px 0;
    position: relative;
    border: 1px solid rgba(10, 10, 10, 0.062);
    top: 10%;
}

.btn {
    position: relative;
    top: 50%;
    left: -50%;
    transform: translate(50%, -50%);
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 2.5rem 0 1rem;
    cursor: pointer;
    transition: 0.5s;
}

    .btn:hover {
        background-position: right;
    }

.sign-up{
    padding:10px 10px 20px ;
    text-decoration:none;
    transition:all 0.3s ease-in-out;
    position:relative;
    font-weight:bold;
    font-family:Var(--main-font-family);
}
    .sign-up::before{
        position:absolute;
        margin-right:-20px;
        padding-right:10px;

    }
    .sign-up:hover {
        padding-right: 20px;
    }
@media (min-width: 450px) {
    .form {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .form {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .form {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    .img-container {
        display: block;
        width: 40%;
    }

    .form-outline {
        width: 55%;
    }

    .form {
        width: 70%;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;
    }

    .lg-font-size {
        font-size: 1.445rem;
    }

    .btn {
        margin: 1rem 0;
    }

    .mobile-form {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1400px) {

    .form {
        padding: 0 40px;
    }
    .img-container {
        display: block;
        width: 45%;
    }
}

@media (min-width: 1700px) {

    .form {
        width: 50%;
    }

}
.spinner {
    margin: auto;
    padding-top: 10px;
    width: 70px;
    text-align: center;
}

    .spinner > div {
        width: 9px;
        height: 9px;
        background-color: #fff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}